#page-course-view-grid {
    .course-content ul.gridicons li .image_holder {
        border: 0;
    }
    .content_inside {
        color: $black!important;
    }
    #gridshadebox_content {
        border: 0;
    }
    #region-main {
        overflow-y: hidden;
    }
}