{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<footer id="page-footer" class="text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4">
                <img class="brandlogo" src="/theme/itragsa/pix/logo.png">
            </div>
            <div class="col-12 col-lg-8 mb-2 logos">
                <img src="/theme/itragsa/pix/logo-gobierno.jpg">
                <img src="/theme/itragsa/pix/logo-imujeres.png">
                <img src="/theme/itragsa/pix/logo-fse.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <ul class="legal mb-2">
                    <li class="mr-3 mb-2"><a href="https://www.inmujeres.gob.es/" target="_blank">Instituto de mujeres</a></li>
                    <li class="mb-2"><a href="https://www.desafiomujerrural.es/formacion-emprendimiento " target="_blank">Desafío Mujer Rural</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="legal">
                    <li><a href="mailto:desafiomujerrural@inmujeres.es">desafiomujerrural@inmujeres.es</a></li>
                    <li><a href="tel:915246836" target="_blank">915246836</a></li>
                    <li><a href="https://desafiomujerrural.es/aviso-legal" target="_blank">Aviso legal</a></li>
                    <li><a href="https://desafiomujerrural.es/politica-de-cookies" target="_blank">Política de cookies</a></li>
                    {{{ output.custom_menu }}}
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class="social">
                    <li><a href="https://www.facebook.com/desafiomujerrural/" target="_blank"><i class="fas fa fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/dmujerrural" target="_blank"><i class="fas fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>