{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    itragsa 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> $themereference/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>$themereference/navbar}}

    <div id="page" class="container-fluid">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>
                    <div class="card">
                        <div class="card-body">
                            <div id="signupInfo">
                                <h2>Introducción FORMULARIO AUTOREGISTRO:</h2>
                                <p>El Instituto de las Mujeres en el marco del programa “Desafío Mujer Rural” (cofinanciado por el Fondo Social Europeo), ha desarrollado una Plataforma de Formación que integra un Programa Formativo sobre EMPRENDIMIENTO PARA MUJERES DEL ÁMBITO RURAL.</p>
                                <p>El formulario que se encontrará en la siguiente página supone su registro en la plataforma de formación “Desafío Mujer Rural” y, por tanto, el acceso a la inscripción en los cursos disponibles.</p>
                                <p>El formulario consta de varias cuestiones con diferentes opciones de respuesta. Todas ellas deben responderse de forma obligatoria para registrarse en la plataforma y acceder, posteriormente a los cursos.</p>
                                <p>Este, sólo se puede enviar una vez, por lo que es necesario que compruebe que ha respondido a todas las cuestiones correctamente. Cuando lo finalice pulse “enviar”. Si el formulario no se cumplimenta adecuadamente o no se envía el formulario, no aparecerá registrada. </p>
                                <p>Tras enviar el formulario, le llegará un correo automático de haber recibido correctamente su registro en la plataforma. </p>
                                <p>Posteriormente, y una vez valorado que se cumplen los requisitos de las destinatarias del Programa: ser mujer y tener una idea de negocio para desarrollar en el ámbito rural o ser empresaria con una empresa creada en el medio rural, le enviaremos un e-mail de confirmación sobre su registro en la plataforma. Entonces ya podrá inscribirse en los cursos y actividades que convoque el Programa Formativo Desafío Mujer Rural.</p>
                                <p>Le damos las gracias por el tiempo que va a dedicarle y por su participación.</p>
                            </div>
                            {{{ output.main_content }}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>

        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        {{{ output.login_info }}}
        {{{ output.home_link }}}
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</div>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}